@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

.container {
    width: 375px;
    height: auto;
    margin: 0 auto;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.50);
    border-radius: 30px;
    padding-bottom: 20px;
}
.container:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.80);
    transition: all .5s;
}
body {
    background-color: white;
    margin: 100px auto;
}
.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Hanken Grotesk', sans-serif;
}
.circle{
    width: 140px;
    height: 140px;
    border-radius: 100%;
    display: inline-block;
    z-index: -1000;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
}
.top {
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 30px;
    height: 340px;
    text-align: center;
}
.your{
    margin-bottom: 30px;
    color: var(--Lightlavender);
}
.result{
    font-size: 60px;
    margin-top: 25px;
    color: white;
}
.of {
    margin-bottom: 60px;
    font-size: 15px;
    color: var(--Lightlavender);
}
.bottom{
    font-size: 10px;
    padding: 30px 30px 0px 30px;
}

.great{
    margin-top: 30px;
    margin-bottom: 20px;
    color: white;
}
.summary{
    margin-bottom: 10px;
}
.word{
    display: flex;
}
.p {
    color: var(--Lightlavender);
}
.resultbottom article{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.resultbottom article h2{
    margin: 0px 10px;
}
article {
    margin: 15px 0px;
    border-radius: 10px;
}
article h3{
    color: hsl(224, 30%, 27%);
}
.continue{
    text-align: center;
    margin: 0px auto;
    padding: 15px 0;
    display: flexbox;
    color: var(--White);
}
.attribution{
    margin-top: 30px;
}
.continuecontainer{
    width: 310px;
    height: auto;
    background:hsl(224, 30%, 27%);
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 40px;
}
a:link, a:visited {
    text-decoration: none;
}
:root {
--Lightred: hsl(0, 100%, 67%);
--Orangeyyellow: hsl(39, 100%, 56%);
--Greenteal: hsl(166, 100%, 37%);
--Cobaltblue: hsl(234, 85%, 45%);
--Lightslateblue: hsl(252, 100%, 67%);
--Lightroyalblue: hsl(241, 81%, 54%);
--Violetblue: hsla(256, 72%, 46%, 1);
--Persianblue: hsla(241, 72%, 46%, 0);
--White: hsl(0, 0%, 100%);
--Paleblue: hsl(221, 100%, 96%);
--Lightlavender: hsl(241, 100%, 89%);
--Darkgrayblue: hsl(224, 30%, 27%);
}
.reaction {
    background-color: rgba(255, 87, 87, .05);
    color: var(--Lightred);
}
.memory {
    background-color: rgba(255, 176, 31, .05);
    color: var(--Orangeyyellow);
}
.verbal{
    background-color: rgba(0, 189, 145, .05);
    color: var(--Greenteal);
}
.visual {
    background-color: rgba(17, 37, 212, .05);
    color: var(--Cobaltblue);
}
.attribution {
    font-size: 11px; text-align: center; 
}
.attribution a {
    color: hsl(228, 45%, 44%); 
}
@media (min-width:944px){
    .container {
        width: 924px;
        display: flex;
        border-radius: 30px;
        padding-bottom: 0;
    }
    .top{
        width: 370px;
        height: 515px;
        border-radius: 30px;
    }
    .your {
        font-size: 25px;
    }
    .circle {
        width: 200px;
        height: 200px;

    }
    .result {
        font-size: 70px;
        margin-top: 50px;
    }
    .of{
        font-size: 15px;
    }
    .great{
        margin-top: 40px;
        margin-bottom: 20px;
        font-size: 40px;
    }
    .p{
        font-size: 20px;
        margin: 0px 40px;
    }
    .summary{
        font-size: 30px;
        margin-top: 30px;
    }
    article{
        width: 290px;
        height: 270;
    }
    .continuecontainer{
        display: flexbox;
        width: 330px;
        height: 60px;
        position: relative;
        top: 120px;
    }
    .resultbottom{
        display: flexbox;
    }
    .bottom {
        height: 300px;           
    }
    .a{
        height: 20px;
    }
    .attribution{
        visibility: hidden;
    }
    body{
        margin: 200px auto;
    }
    .derecha{
        margin-left: 20px;
    }
}